asgiref==3.7.2
atomicwrites==1.4.1
attrs==23.1.0
certifi==2023.5.7
charset-normalizer==2.0.12
click==8.1.6
colorama==0.4.6
cssbeautifier==1.14.9
Django==4.2.6
django-debug-toolbar==3.2.4
djlint==1.32.1
EditorConfig==0.12.3
Faker==12.0.1
html-tag-names==0.1.2
html-void-elements==0.1.0
idna==3.4
iniconfig==2.0.0
jsbeautifier==1.14.9
json5==0.9.14
mixer==7.1.2
packaging==23.1
pathspec==0.11.1
Pillow==10.1.0
pluggy==0.13.1
py==1.11.0
pytest==6.2.4
pytest-django==4.4.0
pytest-pythonpath==0.7.3
python-dateutil==2.8.2
pytils==0.4.1
pytz==2023.3
PyYAML==6.0.1
regex==2023.10.3
requests==2.26.0
setuptools==69.0.2
six==1.16.0
sorl-thumbnail==12.7.0
sqlparse==0.4.4
toml==0.10.2
tomli==2.0.1
tqdm==4.65.0
typing_extensions==4.7.1
tzdata==2023.3
urllib3==1.26.16
